
/* Reset estilos navegador por defecto 
los navegadores le ponen margin y padding */
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;  
}

html{
    height: 100vh;
    margin: auto;
    max-width: 90%;
}

h2{
    color: #7ABA96;
    text-decoration: none;
    font-size: 18px;
}

body{
    padding-bottom: 10em;
}


/* MENU STICKY*/
header{
    width: 100%;
    display: flex;
    display: inline-block;
    position: sticky;
    top: 0;
    background: #fff;
}

#logo{
    display: flex;
    justify-content: center; 
}

#logo img{
    width: min(100%, 300px);;
}

nav{
    display: flex;
    justify-content: center;
    border-top: 1.5px solid;
    border-bottom: 1.5px solid;
    margin: 10px 0px 10px;

    text-transform: uppercase;
    


}

nav a{
    text-decoration: none;
    color: inherit;
}
nav ul li{
    display: inline-block;
    padding: 6px;
}
nav ul li:hover{
    color: #7ABA96;
    font-weight: bold;
    cursor: pointer;
}

/* ASIDE */

aside{
    float: left;
    height: 100vh;
    width: 20%;
    padding: 1rem;
    overflow: hidden;
    
}


aside div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

aside div:nth-child(2){
    background-color: #dfdfdf;
}

aside div:nth-child(2) p:last-child{
    background-color: #7ABA96;
    width: 100%;
    margin-top: 1rem;
}




/* GALERIA */
.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    
}

.galeria div{
    display: grid;
    grid-gap:1rem
}

.galeria  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeria h2{
    text-align: center;
}
.galeria div p:nth-child(4){
    text-align: justify;
}
.fechas{
    text-align: center;
    border-top: 1px solid #7ABA96;
    border-bottom: 1px solid #7ABA96;

}
/* FOOTER */
footer{
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #000;

}
footer ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-transform: uppercase;
}

footer ul li{
    list-style: none;
    color: #fff; 
    padding: 10px;  

}


/* ESTILOS TODAS LAS RECETAS */
.receta {
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.receta h1 {
	font-size: 36px;
	text-align: center;
	margin: 0;
	padding: 20px;
	background-color: #7ABA96;
    color: rgb(242, 242, 242);
}

.receta ul, .receta ol {
	margin: 0;
	padding-left: 20px;
}


/* LISTADO RECETAS */

.recetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .enlaces_lista{
    background: #7ABA96;
    color: white;
    display: flex;
    justify-content: center;
    padding: 8px;
    max-width: 150px;
    border-radius: 3px;
  }

  .enlaces_lista:hover{
    background-color: #395a48;
  }


  /* INDICE DE PAGINACION*/
  /* Estilo de los botones de paginación */
.paginacion {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .paginacion button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #7ABA96;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .paginacion button:hover {
    background-color: #395a48;
  }
  


  /* FORMULARIO */
  form {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

 input{
  box-sizing: border-box;
 }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  textarea {
    height: 100px;
    box-sizing: border-box;
  }
  
  input[type="submit"], input[type="reset"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="submit"]{
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  input[type="reset"]:hover {
    background-color: #ff0000;
  }

  
form ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
form ul li {
    margin-bottom: 20px;
  }
  
form  ul li:last-child {
    margin-bottom: 0;
  }


input ~ label {
  display: inline;
}


